<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container-search">
            <h1 class="page-title">Tìm kiếm sản phẩm</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container-search">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript;" [routerLink]="['/']" routerLinkActive="router-link-active" >Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Tìm kiếm sản phẩm</a></li>
                <li *ngIf="textSearch !== ''" class="breadcrumb-item"><a href="#">{{textSearch}}</a></li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container-search">
            <div class="row">
                <div class="col-lg-10">
                   <div class="row">
                       <div class="col-lg-12">
                        <nz-card [nzBordered]="true">
                            <div nz-row>
                              <div style="float: left;" nz-col [nzXl]="12" nzMd="24" nzSm="24" nzXs="24">
                                <form action="">
                                  <nz-form-item nzFlex>
                                    <nz-form-label nzFor="" nzSpan="5">Sắp xếp theo</nz-form-label>
                                    <nz-form-control nzSpan="6">
                                      <nz-select [ngModelOptions]="{standalone: true}" (ngModelChange)="filterHandler(1, $event)" [(ngModel)]="sortType">
                                        <nz-option *ngFor="let item of listSortType" [nzValue]="item.id" [nzLabel]="item.name"> </nz-option>
                                      </nz-select>
                                    </nz-form-control>
                      
                                    <nz-form-label nzFor="" nzOffset="1" nzSpan="7">Số sản phẩm/ Trang</nz-form-label>
                                    <nz-form-control nzSpan="5">
                                      <nz-select [ngModelOptions]="{standalone: true}" [(ngModel)]="pageSize" (ngModelChange)="changePageSize($event)">
                                        <nz-option *ngFor="let item of listPageSizeDf" [nzValue]="item" [nzLabel]="item"> </nz-option>
                                      </nz-select>
                                    </nz-form-control>
                                  </nz-form-item>
                                </form>
                              </div>
                              <div nz-col [nzXl]="12" nzMd="24" nzSm="24" nzXs="24">
                                <nz-pagination style="float: right;"  [nzPageIndex]="pageIndex" [nzTotal]="totalCount" nzSimple></nz-pagination>
                              </div>
                            </div>
                          </nz-card>
                       </div>
                   </div>

<nz-card>
    <div class="products mb-3">
        <div class="row justify-content-center">
            <div *ngFor="let item of listProduct" class="col-md-4 col-sm-6 col-xs-12 col-lg-3 col-xl-3">
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <span class="product-label label-new">New</span>
                        <a href="javascript:;" (click)="viewDetail(item.id)">
                            <img [src]="item.urlImageActive" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"><span>Thêm vào giỏ</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{item.categoryString}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="javascript:;" (click)="viewDetail(item.id)">{{item.name}}</a></h3><!-- End .product-title -->
                        <p class="product-old-price" *ngIf="item.discountDefault > 0">
                            {{item.amoutDefault | currency: 'VND'}}
                        </p>
                        <div class="product-price">
                            {{item.amoutDefault-item.discountDefault | currency: 'VND'}}
                        </div><!-- End .product-price -->
                        <nz-rate [ngModel]="item.rating" nzDisabled></nz-rate>
                        <span class="ratings-text">( 2 bình luận )</span>
                        <div class="product-nav product-nav-thumbs">
                            <a (click)="changeImage(item.attachments[i], item)" *ngFor="let c of counter(3);let i = index" href="javascript:void">
                                <img [src]="baseFile + item.attachments[i]" [ngClass]="{'active': i == 0}" class="product-desc" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
            <div class="item-center" *ngIf="listProduct.length === 0">
                <h3>Không tìm thấy kết quả!</h3>
            </div>
        </div><!-- End .row -->
    </div><!-- End .products -->
</nz-card>

                    <nz-pagination style="float: right;"  [nzPageIndex]="pageIndex" [nzTotal]="totalCount" nzSimple></nz-pagination>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-2 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>Tìm kiếm:</label>
                            <a href="javascript:void(0)" (click)="resetFilter()" class="sidebar-filter-clear">Xóa tất cả</a>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    Loại sản phẩm
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <nz-tree [nzData]="nodes" nzShowIcon [nzExpandedIcon]="multiExpandedIconTpl" nzShowLine (nzClick)="treeViewClick($event)"> </nz-tree>
                                        <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                                          <i *ngIf="!origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'minus' : 'plus'" class="ant-tree-switcher-line-icon"></i>
                                          <i *ngIf="origin.isLeaf" nz-icon nzType="right" nzTheme="outline"></i>
                                        </ng-template>
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                    Khối lượng
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        <div *ngFor="let item of listSize" class="filter-item">
                                            <div class="custom-control custom-radio">
                                                <label class="label-custom-control" style="cursor: pointer;" (click)="searchBySize(item)" for="brand-1">{{item.name}}</label>
                                            </div><!-- End .custom-control -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                    Thương hiệu
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        <div *ngFor="let item of listSuplier" class="filter-item">
                                            <div class="custom-control custom-radio">
                                                <label class="label-custom-control" style="cursor: pointer;" (click)="searchBySuplier(item)" for="brand-1">{{item.name}}</label>
                                            </div><!-- End .custom-control -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->