<header class="header header-intro-clearance header-3" style="background-color: #FFFFFF;">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <ul>
              <li *ngIf="!isLogin">
                <a href="#signin-modal" data-toggle="modal"
                  >Đăng nhập / Đăng ký</a
                >
              </li>
              <li *ngIf="isLogin">
                <p
                >Xin chào  <u><a href="javascript:void(0)" [routerLink]="['/account-detail']" routerLinkActive="router-link-active" >{{user.name}}</a></u></p>
              </li>
              <li *ngIf="isLogin">
                <a (click)="logout()" href="javascript:void(0)">Đăng xuất</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-top -->

  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a
          href="javascript;"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          class="logo"
        >
          <img
            src="assets/images/xanhla/logoxanhduong.jpg"
            alt="Molla Logo"
            width="105"
            height="25"
          />
        </a>
      </div>
      <!-- End .header-left -->

      <div class="">
        <div
          class="header-search header-search-extended header-search-visible d-none d-lg-block"
        >
          <a href="#" class="search-toggle" role="button"
            ><i class="icon-search"></i
          ></a>
          <form action="#" method="get">
            <div style="border: 1px solid black;" class="header-search-wrapper search-wrapper-wide">
              <label for="q" class="sr-only">Tìm kiếm</label>
              <button class="btn btn-primary" type="submit">
                <i class="icon-search"></i>
              </button>
              <input
                type="search"
                class="form-control"
                placeholder="Tìm kiếm sản phẩm ..."
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="textSearch"
                id="text-search-box"
                (keyup.enter)="enterSearch()"
                (ngModelChange)="changeText()"
                (click)="changeText()"
                required
                #search
                autocomplete="off"
              />
            </div>
            <!-- End .header-search-wrapper -->
            <div
              #searchResult
              [ngStyle]="{ display: isChangeText === true ? 'block' : 'none' }"
              class="text-search-result"
            >
              <div *ngIf="listProd.length === 0" class="row">
                <div class="col-md-12 item-center" style="height: 300px">
                  <nz-empty
                    class="empty-grid"
                    [nzNotFoundContent]="'Không có kết quả'"
                  ></nz-empty>
                </div>
                <div
                  *ngIf="isLoadingFilter"
                  class="col-md-12 item-center"
                  style="height: 300px"
                >
                  <nz-spin nzSimple></nz-spin>
                </div>
              </div>
              <div
                style="margin: 15px; cursor: pointer"
                (click)="viewDetail(item.id)"
                class="row"
                *ngFor="let item of listProd"
              >
                <div class="col-md-2">
                  <img
                    [src]="baseFile + item.attachments[0]"
                    width="70px"
                    height="70px"
                    alt=""
                  />
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <p>{{ item.name }}</p>
                    </div>
                    <div class="col-md-12" style="text-align: right;">
                      <p *ngIf="item.discount !== 0" class="price-text">{{
                        item.amoutDefault | currency: "VND"
                      }}</p>
                      <p>{{ " " }}</p>
                      <p class="real-price-text">{{
                        item.amoutDefault - item.discountDefault | currency: "VND"
                      }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- End .header-search -->
      </div>

      <div class="header-right">
        <!-- End .compare-dropdown -->

        <!-- <div class="wishlist">
          <a href="wishlist.html" title="Wishlist">
            <div class="icon">
              <i class="icon-heart-o"></i>
              <span class="wishlist-count badge">3</span>
            </div>
            <p>Wishlist</p>
          </a>
        </div> -->
        <!-- End .compare-dropdown -->

        <div class="dropdown cart-dropdown">
          <a
            href="javascript;"
            [routerLink]="['/cart']"
            routerLinkActive="router-link-active"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
          >
            <div class="icon">
              <i style="color: black;" class="icon-shopping-cart"></i>
              <span class="cart-count">{{listCart.length}}</span>
            </div>
            <p>Giỏ hàng</p>
          </a>

          <div class="dropdown-menu dropdown-menu-right overflow-auto">
            <div class="dropdown-cart-products">
              <div class="dropdown-cart-total" *ngIf="listCart.length > 0">
                <span>Tổng</span>
  
                <span class="cart-total-price">{{total|currency:'VND'}}</span>
              </div>
              <!-- End .dropdown-cart-total -->
              <div class="dropdown-cart-action" *ngIf="listCart.length > 0">
                <a
                  href="javascript;"
                  [routerLink]="['/cart']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary"
                  >Chi tiết</a
                >
                <a
                  href="javascript;"
                  [routerLink]="['/checkout']"
                  routerLinkActive="router-link-active"
                  class="btn btn-outline-primary-2"
                  ><span>Thanh toán</span><i class="icon-long-arrow-right"></i
                ></a>
              </div>
              <div *ngFor="let item of listCart" class="product">
                <div class="product-cart-details">
                  <h4 class="product-title">
                    <a href="javascript:;" (click)="viewDetail(item.id)"
                      >{{item.name}}</a
                    >
                  </h4>
                  <span class="cart-product-info">
                    <input width="50%"
                    [value]="item.count"
                    type="number"
                    [min]="1"
                    (ngModelChange)="changeCount($event, item)"
                    class="form-control"
                    name=""
                    id=""
                    [(ngModel)]="item.count"
                    placeholder=""
                  />
                    x <span *ngIf="item.discountDefault > 0" class="product-old-price">{{item.amoutDefault | currency:'VND'}}</span> 
                     <span> {{(item.amoutDefault - item.discountDefault) | currency:'VND'}}</span>
                  </span>
                </div>
                <!-- End .product-cart-details -->
                <figure class="product-image-container">
                  <a href="product.html" class="product-image">
                    <img
                    [src]="baseFile + item.attachments[0]"
                      alt="product"
                    />
                  </a>
                </figure>
                <a href="javascript:void(0)" (click)="removeItem(item)" class="btn-remove" title="Remove Product"
                  ><i class="icon-close"></i
                ></a>
              </div>
              <!-- End .product -->
            </div>
            <!-- End .cart-product -->

            <div class="dropdown-cart-total" *ngIf="listCart.length > 0">
              <span>Tổng</span>

              <span class="cart-total-price">{{total|currency:'VND'}}</span>
            </div>
            <!-- End .dropdown-cart-total -->
            <div class="dropdown-cart-action" *ngIf="listCart.length > 0">
              <a
                href="javascript;"
                [routerLink]="['/cart']"
                routerLinkActive="router-link-active"
                class="btn btn-primary"
                >Chi tiết</a
              >
              <a
                href="javascript;"
                [routerLink]="['/checkout']"
                routerLinkActive="router-link-active"
                class="btn btn-outline-primary-2"
                ><span>Thanh toán</span><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <div *ngIf="listCart.length === 0" class="col-sm-12 empty-cart-cls text-center">
              <h6><strong>Giỏ hàng của bạn đang trống</strong></h6>
              <h6>Hãy tiếp tục mua sắn bạn nhé :)</h6>
            </div>
            <!-- End .dropdown-cart-total -->
          </div>
          <!-- End .dropdown-menu -->
        </div>
        <!-- End .cart-dropdown -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->

  <div class="header-bottom sticky-header">
    <div class="container">
      <div class="header-left">
        <div class="dropdown category-dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
            title="Browse Categories"
          >
            Danh mục sản phẩm <i class="icon-angle-down"></i>
          </a>

          <div class="dropdown-menu">
            <nav class="side-nav">
              <ng-template #categoryTemplateRef let-data="data">
                <ul>
                  <ng-template ngFor let-child [ngForOf]="data.children">
                    <li>
                      <a href="#">
                        {{ child.name }}                      <i *ngIf="child.children && child.children.length" class="icon-angle-right"></i>

                      </a>
                      
                      <ng-template
                        *ngIf="child.children && child.children.length"
                        [ngTemplateOutlet]="categoryTemplateRef"
                        [ngTemplateOutletContext]="{ data: child }"
                      ></ng-template>
                    </li>
                  </ng-template>
                </ul>
              </ng-template>
              <ul class="menu-vertical sf-arrows">
                <li *ngFor="let item of data">
                    <a href="#">{{ item.name }} 
                      <i *ngIf="item.children && item.children.length" class="icon-angle-right"></i>
                    </a>
                  <ng-template
                    *ngIf="item.children && item.children.length"
                    [ngTemplateOutlet]="categoryTemplateRef"
                    [ngTemplateOutletContext]="{ data: item }"
                  ></ng-template>
                </li>
              </ul>
              <!-- <ul class="menu-vertical sf-arrows">
                                <li class="item-lead"><a href="#">Daily offers</a></li>
                                <li class="item-lead"><a href="#">Gift Ideas</a></li>
                                <li><a href="#">Beds</a></li>
                                <li><a href="#">Lighting</a></li>
                                <li><a href="#">Sofas & Sleeper sofas</a></li>
                                <li><a href="#">Storage</a></li>
                                <li><a href="#">Armchairs & Chaises</a></li>
                                <li><a href="#">Decoration </a></li>
                                <li><a href="#">Kitchen Cabinets</a></li>
                                <li><a href="#">Coffee & Tables</a></li>
                                <li><a href="#">Outdoor Furniture </a></li>
                            </ul> -->
              <!-- End .menu-vertical -->
            </nav>
            <!-- End .side-nav -->
          </div>
          <!-- End .dropdown-menu -->
        </div>
        <!-- End .category-dropdown -->
      </div>
      <!-- End .header-left -->

      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li
              (click)="changeActiveTab(1)"
              [ngClass]="{ active: active === 1 }"
              class="megamenu-container"
            >
              <a
                href="javascript;"
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                >Trang chủ</a
              >
            </li>
            <li
            style="color: black;"
              (click)="changeActiveTab(2)"
              [ngClass]="{ active: active === 2 }"
              class="megamenu-container"
            >
              <!-- <a href="javascript:void(0)"  class="sf-with-ul">Tìm theo hãng</a> -->
              <a nz-dropdown [nzDropdownMenu]="menu">
                Tìm theo hãng
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul style="width: 400px" nz-menu nzSelectable>
                  <li *ngFor="let item of listSupplier" (click)="redirectSearch(item.id,2)" routerLinkActive="router-link-active"  nz-menu-item>{{item.name}}</li>
                </ul>
              </nz-dropdown-menu>
            </li>
            <li
              (click)="changeActiveTab(3)"
              [ngClass]="{ active: active === 3 }"
            >
              <a href="javascript:void(0)" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >Về chúng tôi</a>
            </li>
            <li
              (click)="changeActiveTab(4)"
              [ngClass]="{ active: active === 4 }"
            >
              <a href="javascript:void(0)" [routerLink]="['/contact']" routerLinkActive="router-link-active"  >Liên hệ</a>
            </li>
          </ul>
          <!-- End .menu -->
        </nav>
        <!-- End .main-nav -->
      </div>
      <!-- End .header-center -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-bottom -->
</header>
<!-- End .header -->

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input
        type="search"
        class="form-control"
        name="mobile-search"
        id="mobile-search"
        placeholder="Search in..."
        required
      />
      <button class="btn btn-primary" type="submit">
        <i class="icon-search"></i>
      </button>
    </form>

    <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="mobile-menu-link"
          data-toggle="tab"
          href="#mobile-menu-tab"
          role="tab"
          aria-controls="mobile-menu-tab"
          aria-selected="true"
          >Menu</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="mobile-cats-link"
          data-toggle="tab"
          href="#mobile-cats-tab"
          role="tab"
          aria-controls="mobile-cats-tab"
          aria-selected="false"
          >Categories</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="mobile-menu-tab"
        role="tabpanel"
        aria-labelledby="mobile-menu-link"
      >
        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="index.html">Home</a>

              <ul>
                <li><a href="index-1.html">01 - furniture store</a></li>
                <li><a href="index-2.html">02 - furniture store</a></li>
                <li><a href="index-3.html">03 - electronic store</a></li>
                <li><a href="index-4.html">04 - electronic store</a></li>
                <li><a href="index-5.html">05 - fashion store</a></li>
                <li><a href="index-6.html">06 - fashion store</a></li>
                <li><a href="index-7.html">07 - fashion store</a></li>
                <li><a href="index-8.html">08 - fashion store</a></li>
                <li><a href="index-9.html">09 - fashion store</a></li>
                <li><a href="index-10.html">10 - shoes store</a></li>
                <li><a href="index-11.html">11 - furniture simple store</a></li>
                <li><a href="index-12.html">12 - fashion simple store</a></li>
                <li><a href="index-13.html">13 - market</a></li>
                <li><a href="index-14.html">14 - market fullwidth</a></li>
                <li><a href="index-15.html">15 - lookbook 1</a></li>
                <li><a href="index-16.html">16 - lookbook 2</a></li>
                <li><a href="index-17.html">17 - fashion store</a></li>
                <li>
                  <a href="index-18.html">18 - fashion store (with sidebar)</a>
                </li>
                <li><a href="index-19.html">19 - games store</a></li>
                <li><a href="index-20.html">20 - book store</a></li>
                <li><a href="index-21.html">21 - sport store</a></li>
                <li><a href="index-22.html">22 - tools store</a></li>
                <li>
                  <a href="index-23.html">23 - fashion left navigation store</a>
                </li>
                <li><a href="index-24.html">24 - extreme sport store</a></li>
              </ul>
            </li>
            <li>
              <a href="category.html">Shop</a>
              <ul>
                <li><a href="category-list.html">Shop List</a></li>
                <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                <li><a href="category.html">Shop Grid 3 Columns</a></li>
                <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                <li>
                  <a href="category-boxed.html"
                    ><span
                      >Shop Boxed No Sidebar<span class="tip tip-hot"
                        >Hot</span
                      ></span
                    ></a
                  >
                </li>
                <li>
                  <a href="category-fullwidth.html"
                    >Shop Fullwidth No Sidebar</a
                  >
                </li>
                <li>
                  <a href="product-category-boxed.html"
                    >Product Category Boxed</a
                  >
                </li>
                <li>
                  <a href="product-category-fullwidth.html"
                    ><span
                      >Product Category Fullwidth<span class="tip tip-new"
                        >New</span
                      ></span
                    ></a
                  >
                </li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="#">Lookbook</a></li>
              </ul>
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">Product</a>
              <ul>
                <li><a href="product.html">Default</a></li>
                <li><a href="product-centered.html">Centered</a></li>
                <li>
                  <a href="product-extended.html"
                    ><span
                      >Extended Info<span class="tip tip-new">New</span></span
                    ></a
                  >
                </li>
                <li><a href="product-gallery.html">Gallery</a></li>
                <li><a href="product-sticky.html">Sticky Info</a></li>
                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                <li><a href="product-fullwidth.html">Full Width</a></li>
                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul>
                <li>
                  <a href="about.html">About</a>

                  <ul>
                    <li><a href="about.html">About 01</a></li>
                    <li><a href="about-2.html">About 02</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Contact</a>

                  <ul>
                    <li><a href="contact.html">Contact 01</a></li>
                    <li><a href="contact-2.html">Contact 02</a></li>
                  </ul>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="404.html">Error 404</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
              </ul>
            </li>
            <li>
              <a href="blog.html">Blog</a>

              <ul>
                <li><a href="blog.html">Classic</a></li>
                <li><a href="blog-listing.html">Listing</a></li>
                <li>
                  <a href="#">Grid</a>
                  <ul>
                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Masonry</a>
                  <ul>
                    <li>
                      <a href="blog-masonry-2cols.html">Masonry 2 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-3cols.html">Masonry 3 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-4cols.html">Masonry 4 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-sidebar.html">Masonry sidebar</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Mask</a>
                  <ul>
                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                    <li>
                      <a href="blog-mask-masonry.html">Blog mask masonry</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Single Post</a>
                  <ul>
                    <li><a href="single.html">Default with sidebar</a></li>
                    <li>
                      <a href="single-fullwidth.html">Fullwidth no sidebar</a>
                    </li>
                    <li>
                      <a href="single-fullwidth-sidebar.html"
                        >Fullwidth with sidebar</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="elements-list.html">Elements</a>
              <ul>
                <li><a href="elements-products.html">Products</a></li>
                <li><a href="elements-typography.html">Typography</a></li>
                <li><a href="elements-titles.html">Titles</a></li>
                <li><a href="elements-banners.html">Banners</a></li>
                <li>
                  <a href="elements-product-category.html">Product Category</a>
                </li>
                <li><a href="elements-video-banners.html">Video Banners</a></li>
                <li><a href="elements-buttons.html">Buttons</a></li>
                <li><a href="elements-accordions.html">Accordions</a></li>
                <li><a href="elements-tabs.html">Tabs</a></li>
                <li><a href="elements-testimonials.html">Testimonials</a></li>
                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                <li><a href="elements-portfolio.html">Portfolio</a></li>
                <li><a href="elements-cta.html">Call to Action</a></li>
                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->
      </div>
      <!-- .End .tab-pane -->
      <div
        class="tab-pane fade"
        id="mobile-cats-tab"
        role="tabpanel"
        aria-labelledby="mobile-cats-link"
      >
        <nav class="mobile-cats-nav">
          <ul class="mobile-cats-menu">
            <li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
            <li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>
            <li><a href="#">Beds</a></li>
            <li><a href="#">Lighting</a></li>
            <li><a href="#">Sofas & Sleeper sofas</a></li>
            <li><a href="#">Storage</a></li>
            <li><a href="#">Armchairs & Chaises</a></li>
            <li><a href="#">Decoration </a></li>
            <li><a href="#">Kitchen Cabinets</a></li>
            <li><a href="#">Coffee & Tables</a></li>
            <li><a href="#">Outdoor Furniture </a></li>
          </ul>
          <!-- End .mobile-cats-menu -->
        </nav>
        <!-- End .mobile-cats-nav -->
      </div>
      <!-- .End .tab-pane -->
    </div>
    <!-- End .tab-content -->

    <div class="social-icons">
      <a href="#" class="social-icon" target="_blank" title="Facebook"
        ><i class="icon-facebook-f"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Twitter"
        ><i class="icon-twitter"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Instagram"
        ><i class="icon-instagram"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Youtube"
        ><i class="icon-youtube"></i
      ></a>
    </div>
    <!-- End .social-icons -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->
