<div class="row">
  <div style="margin-top: 20px; margin-bottom: 20px" class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        <span style="font-family: helvetica, arial, sans-serif"
                          ><strong><span style="font-size: 14pt">Xanh lá</span></strong></span
                        >
                      </p>
                      <ul>
                        <li style="list-style-type: none">
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Địa chỉ:</strong>&nbsp; Hà
                                    Nội.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Cơ sở:</strong>  Hà
                                    Nội.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Điện thoại:</strong>&nbsp;+123456789.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phòng kinh doanh:</strong>&nbsp;<a
                                      href="mailto:sales@Molla.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >sales@Molla.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a
                                      href="mailto:hotro@Molla.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >hotro@Molla.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;093 183 4446</span
                                  >
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Giờ làm việc:</strong></span
                                  >
                                  <ul style="list-style-type: circle">
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">T2-T7: 9AM – 6:30 PM</span>
                                    </li>
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">Chủ nhật: 10AM – 4PM</span>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.191286317841!2d105.782930458194!3d21.017373000268567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54ef80077d%3A0x1c375dcb13b05376!2zS2VhbmduYW0sIE3hu4UgVHLDrCwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1654364580346!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
